In [2]:
from csv import reader
import os
import csv
import pandas as pd
import numpy as np

In [3]:
budget_data = "Resources/budget_data.csv"
new_df = pd.read_csv(budget_data)
new_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [4]:
#Getting the total number of months
total_months = len(new_df['Date'])
total_months

86

In [11]:
#Gathering the net total for profit/losses\
net_profit_losses = 0
profit_losses = new_df['Profit/Losses']
profit_losses.sum()

38382578

In [12]:
#getting the average of change in Profit/Losses over the entire period
avg_change = []